/* Custom CSS for homeown created and designed by @julienjacques April 22, 2016 */

.btn-social.btn-simple {
    font-size: 14px;
}

.social-line {
    padding: 5px 0;
}

.social-line-black {
    background-color: rgba(30, 30, 30, 0.77);
}

.small-info h1 {
    font-weight: 200;
    font-size: 62px;
}


@media (min-width: 220px) {
.small-info h1 {
    font-size: 52px;
  }
}

@media (min-width: 850px) {
.small-info h1 {
    font-size: 3.2090em;
  }
}
@media (min-width: 920px) {
.small-info h1 {
    font-size: 3.9090em;
  }
}
@media (min-width: 1000px) {
.small-info h1 {
    font-size: 66px;
  }
}



.small-info h3 {
    font-size: 28px;
}

@media (min-width: 220px) {
.small-info h3 {
    font-size: 20px;
  }
}

@media (min-width: 850px) {
.small-info h3 {
    font-size: 26px;
  }
}
@media (min-width: 920px) {
.small-info h3 {
    font-size: 28px;
  }
}
@media (min-width: 1000px) {
.small-info h3 {
    font-size: 28px;
  }
}




@media screen and (min-width: 767px) {
   .divmobile { display:none; }
}

@media screen and (max-width: 767px) {
   .divnotmobile { display:none; }
}

@media screen and (min-width: 992px) {
   .divtablet { display:none; }
}

@media screen and (max-width: 992px) {
   .divnottablet { display:none; }
}

.text-dark-grey {
    font-color: #9A9A9A;
    color: #9A9A9A;
}

.dropdown-menu {
    border-radius: 3px;
}

.grey-text {
  color: #999999;
}


/* Margin CSS */
.margin-top-plus-20 {
  margin-top: 20px;
}

.margin-top-plus-40 {
  margin-top: 40px;
}

.margin-top-plus-60 {
  margin-top: 60px;
}

.margin-top-plus-100 {
  margin-top: 100px;
}

.margin-top-plus-120 {
  margin-top: 120px;
}

.margin-top-plus-160 {
  margin-top: 160px;
}

.margin-top-plus-200 {
  margin-top: 200px;
}

.margin-top-minus-10 {
  margin-top: -10px;
}

.margin-top-minus-20 {
  margin-top: -20px;
}

.margin-top-minus-40 {
  margin-top: -40px;
}

.margin-top-minus-60 {
  margin-top: -60px;
}

.margin-top-minus-80 {
  margin-top: -80px;
}

.margin-top-minus-100 {
  margin-top: -100px;
}

.margin-top-minus-120 {
  margin-top: -120px;
}

.margin-top-minus-140 {
  margin-top: -140px;
}

.margin-top-minus-160 {
  margin-top: -160px;
}

.margin-top-minus-200 {
  margin-top: -200px;
}

.margin-top-minus-240 {
  margin-top: -240px;
}

.margin-top-minus-310 {
  margin-top: -310px;
}


